@font-face {
    font-family: 'SFcompact';
    src: url('..sf-compact-rounded-bold-webfont.woff') format('woff'),
    src: url('sf-compact-rounded-bold-webfont.woff2') format('woff2');
    font-size: normal;
    font-weight: normal;
}
