@font-face {
    font-family: 'SFcompact';
    src: url('../components/fonts/sf-compact-rounded-bold-webfont.woff') format('woff'),
        url('../components/fonts/sf-compact-rounded-bold-webfont.woff2') format('woff2');
    font-size: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Sanseriffic';
    src: url('../components/fonts/Sanseriffic.woff') format('woff'),
        url('../components/fonts/Sanseriffic.woff2') format('woff2');
    font-size: normal;
    font-weight: normal;
}
